.site-footer {
  
  background-color: desaturate($brand-primary, 20%);
  padding-top: 2em;
  margin-top: 2em;
  
  color: white;
  
  a {
    
    color: white;
    
  }
  
}

.sub-footer {
  
  background-color: desaturate($brand-primary, 30%);
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 2em;
  
  color: white;
  
  a {
    
    color: white;
    
  }
  
}