.site-footer {
  
  background-color: $brand-grey;
  padding-top: 2em;
  margin-top: 2em;
  border-top: 1px solid #e7e7e7;
  
  a {
    

    
  }
  
}

.sub-footer {
  
  background-color: darken( $brand-grey, 5% );
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 2em;
  
  a {
    

    
  }
  
}