section.gray {
  
  background-color: $brand-gray;
  
}

.under-jumbotron {
  
  margin-top: -2em;
  padding-top: 2em;
  
}

//  three column wide bootstrap marketing circles
//
.page-feature-container {
  
}

//
//
.page-service-marketing-container {
  
  margin-top: 2em;
  
}

.page-service-marketing-columns {
  
  h3 {
    
    color: $brand-warning;
    font-family: $font-family-serif;
    font-size: $font-size-h4;
    padding-top: 1em;
    
    a {
      
      color: $brand-warning;
      
      &:hover {
        
        color: desaturate($brand-warning, 20%);
        
      }
      
    }
    
  }
  
}

.page-marketing-four-columns-container {
  
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  
}

// featurettes

.page-featurette-section {
  
  margin: 1em 0;
  padding: 3em 0;
  
  h2 {
    
    color: $brand-primary;
    text-align: center;
    
  }
  
  hr {
    
    border-top: none;
    border-bottom: 5px solid;
    color: $brand-primary;
    
  }
  
  h3 {
    
    font-size: 40px;
    
  }
  
  img {
    
    margin-bottom: 10px;
    
  }
  
  .page-featurette-section-inner {
    
    margin-bottom: 1em;
    
    p {
      
      font-size: 32px;
      
    }
    
  }
  
}

.page-category-post-list {
  
  .btn-wire {
    
    margin-top: 1em;
    margin-bottom: 1em;
    
  }
  
}