.jumbotron {
  
  // margin-top: -2em;
  background-repeat: no-repeat;
  // background-position: 32% 0%;
  background-size: cover;
  
  h1 {
    
    // font-weight: 400;
    background-color: $brand-success;
    padding-left: 5px;
    
  }
  
  @media screen and (max-width: $screen-xs) {
    
    // Make the jumbotron full width on mobile screens
    margin: -1.4em -2em 1em -2em;
    
  }
  
}

.img-marketing {
  
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  
}

.page-category-card {
  
  padding: 1em;
  
}